@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,500&display=swap');

:root {
    --azul-escuro: rgb(14, 9, 50);
    --azul-claro: rgb(46, 29, 168);
    --dourado: rgb(235, 229, 75);
    --dourado-light: rgb(255, 250, 97);
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    color: white;
    background: rgb(10, 7, 28);
}

/* Estilizando a barra de rolagem lateral */

::-webkit-scrollbar {
    width: 8px;
    /* Largura da barra de rolagem */
}

::-webkit-scrollbar-track {
    background-color: rgb(11, 6, 30);
    /* Cor de fundo da área de rastreamento da barra de rolagem */
}

::-webkit-scrollbar-thumb {
    background-color: var(--dourado);
    /* Cor da barra de rolagem */
    background-clip: content-box;
    border-radius: 5px;
    /* Borda arredondada da barra de rolagem */
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--dourado-light);
    /* Cor da barra de rolagem ao passar o mouse */
}

header {
    display: none;
    padding: 30px 0;
    width: 100%;
    justify-content: space-between;
    z-index: 999;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

header::before {
    content: "";
    background: inherit;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    backdrop-filter: blur(4px);
    /* Ajuste o valor de acordo com o efeito de desfoque desejado */
}


#countdown {
    position: relative;
    display: flex;
    align-items: center;
    width: fit-content;
    margin-left: 40px;
    transform: translateY(-10px);
    font-family: 'Bai Jamjuree', sans-serif;
}

#countdown div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    width: 50px;
    height: 40px;
    background-color: rgb(5, 5, 5);
    border-radius: 10px;
    font-weight: bolder;
}

#countdown div span {
    position: absolute;
    bottom: -30px;
    z-index: 5;
    color: var(--dourado);
}

header a {
    margin-right: 40px;
    padding: 2px;
    border-radius: 30px;
    background: linear-gradient(90deg, var(--dourado) 0%, var(--azul-claro) 100%);
    text-decoration: none;
    color: white;
    transition: all 0.8s;
}

header a:hover {
    background: linear-gradient(90deg, var(--azul-claro) 0%, var(--dourado) 100%);
    transform: scale(1.1);
}

header a div {
    display: flex;
    align-items: center;
    padding: 8px 18px;
    border-radius: 28px;
    background-color: rgb(14, 12, 47);
}

main {
    padding-bottom: 150px;
    overflow: hidden;
}

section {
    padding: 0 20%;
}

.fade-in-element {
    opacity: 0;
    transition: all 2.5s ease-in-out;
    transform: translateY(40px);
}

.fade-in {
    opacity: 1 !important;
    transform: translateY(0);
}

.apresentacao-principal {
    background: url('../img/BG%20HERO.jpg') center center/cover no-repeat;
    background-position: center center;
    height: 600px;
    position: relative;
    padding-top: 150px;
}

.apresentacao-principal img {
    position: absolute;
    height: 97%;
    bottom: 0;
    right: 12%;
}

.apresentacao-principal h1 {
    font-size: 50px;
    font-weight: 700;
    color: var(--dourado);
    margin-bottom: 30px;
}

.apresentacao-principal p {
    font-size: 18px;
    margin-bottom: 30px;
}

.comprar-btn {
    padding: 10px 50px;
    font-weight: bold;
    border: 2px solid var(--dourado);
    background-color: var(--dourado);
    color: var(--azul-escuro);
    border-radius: 8px;
    transition: all 0.3s ease;
    margin-bottom: 20px;
}

.comprar-btn:hover {
    box-shadow: 0px 0px 12px var(--dourado);
    background-color: var(--dourado-light);
    border: 2px solid var(--dourado-light);
}

.circulo {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--dourado);
    color: var(--dourado);
    margin-right: 10px;
}

.alerta {
    height: 250px;
    display: flex;
    align-items: center;
    text-align: center;
}

.alerta h1 {
    font-size: 50px;
    font-weight: 600;
    color: var(--dourado);
}

.alerta p {
    font-size: 22px;
}

.para-quem {
    padding-top: 100px;
    padding-bottom: 150px;
    height: fit-content;
    background-color: rgb(6, 4, 18);
}

.para-quem .content {
    margin: auto;
    width: fit-content;
}

.para-quem h1 {
    color: var(--dourado);
    margin-bottom: 80px;
}

.linha-container {
    height: fit-content;
    position: relative;
}

.linha-do-tempo {
    display: block;
    width: 3px;
    height: 200vh;
    background-color: #ccc;
    margin-left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    position: relative;
    /* Adicionado para posicionar os círculos corretamente */
}

.progresso {
    height: 0;
    background-color: #ffc107;
    /* Amarelo */
    transition: height 0.5s ease;
    position: absolute;
    /* Adicionado para posicionar os círculos corretamente */
    width: 100%;
}

.circulos {
    width: 12px;
    height: 12px;
    background-color: #ffc107;
    /* Amarelo */
    border-radius: 50%;
    position: absolute;
}

.circulo1 {
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
}

.circulo2 {
    top: 33.3%;
    left: 50%;
    transform: translateX(-50%);
}

.circulo3 {
    top: 66.6%;
    left: 50%;
    transform: translateX(-50%);
}

.circulos .img-card {
    position: absolute;
    overflow: hidden;
    height: 66.67vh;
    width: 50vh;
    background-color: var(--dourado);
    border-radius: 8px;
    top: 0;
}

.circulo1 .img-card,
.circulo3 .img-card {
    right: 20vh;
}

.circulo2 .img-card {
    left: 20vh;
}

.img-container {
    height: 75%;
}

.img-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.img-card .texto {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--azul-escuro);
    height: 25%;
    width: 100%;
}

.img-card .texto h4 {text-align: center; font-weight: 700;}

.alerta-2 {
    background-color: var(--dourado);
    color: var(--azul-escuro);
    padding-bottom: 15px;
    padding-top: 15px;
}

.alerta-2 h1 {
    font-weight: 600;
    text-align: center;
    margin: 0;
}

.alerta-2 h1 {
    transition: transform 1s ease;
    /* Transição suave de 1 segundo */
}

/* Keyframes para a animação de escala */
@keyframes scaleAnimation {
    0% {
        transform: scale(1);
    }

    /* Escala inicial */
    50% {
        transform: scale(1.1);
    }

    /* Escala máxima no meio da animação */
    100% {
        transform: scale(1);
    }

    /* Volta à escala inicial */
}

/* Aplica a animação ao h1 dentro de .alerta-2 */
.alerta-2 h1 {
    animation: scaleAnimation 2s infinite;
    /* 2 segundos, ciclo infinito */
}

.persuasao {
    color: var(--azul-escuro);
    background: url('../img/BG%20PUTS.jpg') center center/cover no-repeat;
    background-position: center center;
    padding-top: 70px;
    height: 470px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.persuasao img {
    height: 400px;
    margin-right: 30px;
}

.persuasao h1 {
    font-weight: 600;
    font-size: 40px;
}

.persuasao p {
    font-size: 20px;
}

.persuasao-2 {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: rgb(6, 4, 18);
}

.persuasao-2 .content {
    width: fit-content;
    margin: auto;
    margin-bottom: 100px;
    position: relative;
}

.persuasao-2 .content .texto {
    text-align: center;
}

.persuasao-2 .content .texto h1 {
    color: var(--dourado);
    font-size: 45px;
    font-weight: 600;
}

.persuasao-2 .content img {
    display: block;
    margin: 40px auto;
    width: 500px;
}

#dislike,
#like {
    position: absolute;
    bottom: -35px;
    right: -35px;
    width: 70px;
    margin: 0;
}

.cases-de-sucesso {
    padding-top: 40px;
    padding-bottom: 80px;
    text-align: center;
    background-color: rgb(6, 4, 18);
    background: url('../img/BG_FEEDBACKS.jpg') center center/cover no-repeat;
    background-position: center center;
}

.cases-de-sucesso h1 {
    font-size: 60px;
    font-weight: 600;
}

.cases-de-sucesso h4 {
    color: var(--dourado);
    margin-bottom: 50px;
}

.cases-de-sucesso img {
    display: block;
    margin: auto;
    width: 500px;
}

.cases-de-sucesso span {
    display: block;
    color: var(--azul-escuro);
    background-color: var(--dourado);
    margin: 40px auto;
    width: fit-content;
    padding: 3px 20px;
    font-weight: bold;
    border-radius: 5px;
}

.cases-de-sucesso p {
    max-width: 600px;
    margin: auto;
}

.preços {
    color: var(--azul-escuro);
    padding: 150px 12%;
    padding-bottom: 200px;
    background-color: rgb(6, 4, 18);
    background: url('../img/BG_DINHEIRO_large.jpg') center center/cover no-repeat;
    background-position: center center;
    text-align: center;
}

.preços .card {
    max-width: 340px;
    min-width: 200px;
    margin: 40px auto;
    padding: 20px 0;
    border-radius: 15px;
    box-shadow: 0px 0px 12px rgba(255, 255, 255, 0.45);
}

.preços .card h4 {
    font-weight: 600;
}

.preços .card img {
    width: 50%;
    display: block;
    margin: 15px auto;
}

.preços .card .texto {
    margin-bottom: 15px;
    font-weight: bold;
}

.preços .card .comprar-btn {
    padding: 8px 20px;
    font-size: 14px;
}

.preços .card .comprar-btn:hover {
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.45);
}

.preços .card .formas-pagamento {
    width: 60%;
    margin: auto;
}

.quem-sou {
    display: flex;
    height: 600px;
    background-color: white;
    color: var(--azul-escuro);
    align-items: center;
    justify-content: center;
}

.quem-sou img {
    height: 600px;
    margin-right: 40px;
}

.quem-sou .texto {
    max-width: 300px;
}

.quem-sou .texto h1 {
    font-weight: 600;
    margin-bottom: 30px;
}

.FAQ {
    padding-top: 120px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.accordion-1 li {
    display: block;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    color: rgb(231, 231, 231);
    margin-bottom: 20px;
}

.accordion-1 li p {
    margin: 0px;
    max-width: 90%;
}

.resposta {
    color: rgb(138, 138, 138);
    max-height: 0;
    overflow: hidden;
    transition: all 0.8s ease;
    padding: 0 20px;
    background-color: rgba(50, 50, 50, 0.2);
}

.pergunta.ativo .resposta {
    padding: 10px 20px;
    max-height: 600px;
    animation: fade 1s ease-in-out;
}

.pergunta.ativo svg {
    transform: rotate(180deg);
}

.pergunta-header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 10px 20px;
    width: 100%;
    font-size: 18px;
    background-color: rgb(50, 50, 50);
}

svg {
    margin-top: 10px;
    fill: transparent;
    transition: transform 1s ease-in;
}

.accordion-1 {
    width: 300px;
}

@keyframes fade {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.whatsapp-button {
    position: fixed;
    bottom: 35px;
    right: 30px;
    width: 60px;
    height: 60px;
    background-color: var(--dourado);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease-in-out;
    z-index: 995;
}

.whatsapp-button:hover {
    transform: scale(1.1);
}

.whatsapp-button img {
    height: 35px;
}

footer {
    text-align: center;
    padding: 0 8%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    font-size: 16px;
    color: rgb(150, 150, 150);
    background-color: rgb(20, 20, 20);
}

footer a {
    text-decoration: none;
    color: rgb(180, 180, 180);
}

footer a:hover {
    color: rgb(200, 200, 200);
}

@media (min-width: 820px) {
    .accordion-1 {
        width: 800px !important;
    }
}

@media (min-width: 500px) {
    .accordion-1 {
        width: 500px;
    }
}